<section class="flex flex-row gap-2 mt-2">
  <!-- (value)="onSearch($event)" -->
  <country-search-input
    (value)="query.set($event)"
    placeholder="Buscar por capital "
  />
</section>

<section class="mt-5">
  <div class="overflow-x-auto">
    <!-- @if (isError()) {
    <h3>{{ isError() }}</h3>
    }@else {
    <country-list [countries]="countries()" />
    } -->

    <!-- con promesas -->
    <!--
    @if (countryResource.error()) {
    <h3>{{ countryResource.error() }}</h3>
    } @if(countryResource.hasValue()) {
    <country-list [countries]="countryResource.value()!" />
    } -->

    <country-list
      [countries]="countryResource.value() ?? []"
      [errorMensaje]="countryResource.error()"
      [IsEmpty]="countryResource.value()?.length === 0"
      [IsLoadingMensaje]="countryResource.isLoading()"
    />
  </div>
</section>
